name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        logstash_version:
          - "8.5.3"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests
        working-directory: .ci
        env:
          LOGSTASH_VERSION: ${{ matrix.logstash_version }}
        run: docker compose up --build --exit-code-from logstash
